<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body class="body">
<div th:insert="blocks/header"></div>



<div class="container">
    <h1 class="center">Сотрудники</h1>
    <div th:each="el : ${employees}">
        <article class="episode">

            <div class="episode__number" th:text="${el.ID_Employee}"></div>
            <div class="episode__content">
                <div class="title" th:text="${el.employeeInitials}"></div>
                <div class="story">
                    <table>
                        <tr>

                            <td>><a>Вес:</a>
                                <a th:text="${el.employeeWeight}"></a>
                            </td>
                        </tr>
                        <tr>

                            <td>><a>Дата рождения:</a> <a th:text="${el.employeeDateOfBirth}"></a></td>
                        </tr>
                    </table>


                    <a th:href="'/employee/' + ${el.ID_Employee}">Подробнее</a>
                </div>
            </div>

        </article>
    </div>

</div>

</body>
</html>