<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Title</title>
</head>
<body>
<div th:insert="blocks/header"></div>
<h2>Неточный поиск</h2>
<form method="post" th:action="${'/employee/filter/result'}">
  <input type="text" name="employeeInitials">
  <button type="submit">Найти</button>
  <div th:each="el : ${result}">
    <h3 th:text="${el.employeeInitials}"></h3>
    <p th:text="${el.employeeAge}"></p>

  </div>
</form>
</body>
</html>