<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:insert="blocks/header"></div>
<div th:each="el : ${modelEmployee}">
  <form method="post" th:object="${modelEmployee}" >
    <input type="text" th:field="*{employeeInitials}" name="employeeInitials" placeholder="Введите ФИО сотрудника" th:value="${modelEmployee.employeeInitials}">
    <div style="color: red" th:if="${#fields.hasErrors('employeeInitials')}" th:errors="*{employeeInitials}"></div>
    <input type="text" th:field="*{employeeWeight}" name="employeeWeight" placeholder="Введите вес" th:value="${modelEmployee.employeeWeight}">
    <div style="color: red" th:if="${#fields.hasErrors('employeeWeight')}" th:errors="*{employeeWeight}"></div>
    <input type="number" th:field="*{employeeAge}" name="employeeAge" th:value="${modelEmployee.employeeAge}" placeholder="Введите возраст">
    <div style="color: red" th:if="${#fields.hasErrors('employeeAge')}" th:errors="*{employeeAge}"></div>
    <input type="date" th:field="*{employeeDateOfBirth}" name="employeeDateOfBirth" th:value="${modelEmployee.employeeDateOfBirth}" placeholder="Введите дату рождения">
    <div style="color: red" th:if="${#fields.hasErrors('employeeDateOfBirth')}" th:errors="*{employeeDateOfBirth}"></div>
    <input type="checkbox" th:checked="${modelEmployee.employeeStatus}" name="employeeStatus" placeholder="Работает?">
    <br>
    <button type="submit">Сохранить изменения</button>
  </form>
</div>
</body>
</html>