<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление нового сотрудника</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="blocks/header"></div>
<form th:action="${'/employee/add'}" method="post" th:object="${employee}" >
  <input type="text" th:field="*{employeeInitials}" name="employeeInitials" placeholder="Введите ФИО сотрудника">
  <div style="color: red" th:if="${#fields.hasErrors('employeeInitials')}" th:errors="*{employeeInitials}"></div>
  <input type="text" th:field="*{employeeWeight}" name="employeeWeight" placeholder="Введите вес">
  <div style="color: red" th:if="${#fields.hasErrors('employeeWeight')}" th:errors="*{employeeWeight}"></div>
  <input type="number" th:field="*{employeeAge}" name="employeeAge" placeholder="Введите возраст">
  <div style="color: red" th:if="${#fields.hasErrors('employeeAge')}" th:errors="*{employeeAge}"></div>
  <input type="date" th:field="*{employeeDateOfBirth}" name="employeeDateOfBirth" placeholder="Введите дату рождения">
  <div style="color: red" th:if="${#fields.hasErrors('employeeDateOfBirth')}" th:errors="*{employeeDateOfBirth}"></div>
  <input type="checkbox" name="employeeStatus" placeholder="Работает?">
  <select  name="pasportNumber">
    <div th:each="element : ${pasport}">
      <option th:text="${element.pasportNumber}"></option>
    </div>
  </select>
  <br>
  <a th:href="'/employee/post/add'">Добавить должность</a>
  <button type="submit">Добавить сотрудника</button>
</form>
</body>
</html>