<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:insert="blocks/header"></div>
<div th:each="el : ${modelGood}">
  <form method="post" th:object="${modelGood}">
    <input type="text" th:field="*{goodName}" th:value="${modelGood.goodName}" name="goodName" placeholder="Введите название товара">
    <div style="color: red" th:if="${#fields.hasErrors('goodName')}" th:errors="*{goodName}"></div>
    <input type="text" th:field="*{goodPrice}" th:value="${modelGood.goodPrice}" name="goodPrice"  placeholder="Введите цену">
    <div style="color: red" th:if="${#fields.hasErrors('goodPrice')}" th:errors="*{goodPrice}"></div>
    <input type="number" th:field="*{goodQuantity}" th:value="${modelGood.goodQuantity}" name="goodQuantity"  placeholder="Введите количество">
    <div style="color: red" th:if="${#fields.hasErrors('goodQuantity')}" th:errors="*{goodQuantity}"></div>
    <input type="date" th:field="*{goodSupplyDate}" th:value="${modelGood.goodSupplyDate}" name="goodSupplyDate"  placeholder="Введите дату поставки">
    <div style="color: red" th:if="${#fields.hasErrors('goodSupplyDate')}" th:errors="*{goodSupplyDate}"></div>
    <input type="checkbox" th:checked="${modelGood.goodDefect}" name="goodDefect" placeholder="Брак?">
    <br>
    <button type="submit">Добавить товар</button>
  </form>
</div>
</body>
</html>